extends ../../layout/layout

block head-title
  title 신발 - AllCa

block content

  .page-title
    h1 신발

  .list-at-pages

    .group
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='https://www.specialized.com', target='_blank') https://www.specialized.com
        li: a(href='http://www.scott-korea.com', target='_blank') http://www.scott-korea.com
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr
      ul
        li: a(href='http://www.cellosports.com', target='_blank') http://www.cellosports.com, 시디
        li: a(href='http://blog.naver.com/around3000', target='_blank') http://blog.naver.com/around3000, 압구정 어라운드 3000
        li: a(href='http://www.kevin.co.kr', target='_blank') http://www.kevin.co.kr, 강동구 성내동
        li: a(href='http://www.sidi.com', target='_blank') http://www.sidi.com    
      ul
        li: a(href='http://www.nnxsports.com', target='_blank') http://www.nnxsports.com, 시마노
        li: a(href='http://www.shimano-lifestylegear.com/kr', target='_blank') http://www.shimano-lifestylegear.com/kr
        li: a(href='http://www.bikenara.co.kr', target='_blank') http://www.bikenara.co.kr, 합정역, 자이언트, 시마노
      ul
        li: a(href='http://www.cephas.kr', target='_blank') http://www.cephas.kr, 피직, 본트
        li: a(href='https://www.fizik.com', target='_blank') https://www.fizik.com
        li: a(href='https://www.bontcycling.com', target='_blank') https://www.bontcycling.com
      ul
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com, GAERNE
        li: a(href='http://www.gaerne.com', target='_blank') http://www.gaerne.com     
      ul 
        li: a(href='http://www.sports55.co.kr', target='_blank') http://www.sports55.co.kr, 지로, 노스웨이브
        li: a(href='http://www.giro.com', target='_blank') http://www.giro.com
        li: a(href='https://northwave.com', target='_blank') https://northwave.com
      ul
        li: a(href='http://www.suplest.co.kr', target='_blank') http://www.suplest.co.kr, 써플레스트
        li: a(href='http://www.suplest.com', target='_blank') http://www.suplest.com
      ul
        li: a(href='http://www.feltbike.co.kr', target='_blank') http://www.feltbike.co.kr, 노스웨이브
        li: a(href='http://odbike.co.kr', target='_blank') http://odbike.co.kr, 노스웨이브
      ul
        li: a(href='http://isilence.co.kr', target='_blank') http://isilence.co.kr, 날리니
        li: a(href='http://www.lytus.co.kr', target='_blank') http://www.lytus.co.kr, 크로노
        li: a(href='http://www.daejinkr.com', target='_blank') http://www.daejinkr.com, 비앙키

    .group
      .name 다운힐 신발
      ul
        li: a(href='http://www.fiveten.com', target='_blank') http://www.fiveten.com
        li: a(href='http://www.hocorp.co.kr', target='_blank') http://www.hocorp.co.kr

    .group
      .name 슈커버
      ul
        li: a(href='http://giant-korea.com', target='_blank') http://giant-korea.com
        li: a(href='http://www.elfama.com', target='_blank') http://www.elfama.com
        li: a(href='http://www.mavic.kr', target='_blank') http://www.mavic.kr
        li: a(href='http://isilence.co.kr', target='_blank') http://isilence.co.kr
      ul
        li: a(href='http://www.weplay.co.kr', target='_blank') http://www.weplay.co.kr, 벨로토즈
        li: a(href='https://www.velotoze.com', target='_blank') https://www.velotoze.com

    .group
      ul
        li: a(href='http://blog.naver.com/ywcycle/80168136707', target='_blank') 사이클로이드, 로드바이크 슈즈 선택
        li: a(href='http://ngpnephilim.blog.me/220604783294', target='_blank') 호윤, 2016 로드바이크 최상급 클릿슈즈 정리
      ul
        li: a(href='http://biketool.tistory.com/317', target='_blank') 자전거공작소, 시마노 로드바이크 신발 사이즈 선택과 특징

  include _mall.pug