extends ../layout/layout

block head-title
  title AllCa

block content

  .section
    .text
      | <s>개미지옥에 오신 것을 환영합니다.</s>
      br
      | 업데이트: 2018-05-23

  .list-at-pages
    .group
      ul
        li: a(href='https://blog.naver.com/mechanicfox/221259977047', target='_blank') 2018년 자전거 수입상 모음 최신판 / 여우의 다락방
        li: a(href='https://blog.naver.com/akiliner', target='_blank') 잡다한 자전거 일기 / 칫솔

  .list-at-home

    .sub-section
      ul
        li: a(href='/bicycle/helmet.html') 헬멧
        li: a(href='/bicycle/goggle.html') 고글
        li: a(href='/bicycle/clothing.html') 의류
      ul
        li: a(href='/bicycle/pedal.html') 페달
        li: a(href='/bicycle/shoes.html') 신발
      ul
        li: a(href='/bicycle/cosmetics.html') 화장품

    .sub-section
      ul
        li: a(href='/bicycle/bicycle.html') 자전거
        li: a(href='/bicycle/frame.html') 프레임
        li: a(href='/bicycle/fork.html') 포크
        li: a(href='/bicycle/handlebar.html') 핸들바
        li: a(href='/bicycle/seat-post.html') 싯포스트
        li: a(href='/bicycle/saddle.html') 안장
      ul
        li: a(href='/bicycle/drive-train.html') 구동계
        li: a(href='/bicycle/chain.html') 체인
        li: a(href='/bicycle/brake.html') 브레이크
      ul
        li: a(href='/bicycle/wheel.html') 휠
        li: a(href='/bicycle/tire-tube.html') 타이어/튜브
        li: a(href='/bicycle/pump.html') 펌프

    .sub-section
      ul
        li: a(href='/bicycle/light.html') 라이트
        li: a(href='/bicycle/computer.html') 컴퓨터
        li: a(href='/bicycle/camera.html') 카메라
        li: a(href='/bicycle/accessories.html') 악세사리
      ul
        li: a(href='/bicycle/bottle-cage.html') 물통 케이지
        li: a(href='/bicycle/tool-case.html') 공구통/멀티툴
        li: a(href='/bicycle/lock.html') 자물쇠
      ul
        li: a(href='/bicycle/bag.html') 가방/짐받이
        li: a(href='/bicycle/fender.html') 펜더
        li: a(href='/bicycle/kick-stand.html') 킥스텐드

    .sub-section
      ul
        li: a(href='/bicycle/stand.html') 거치대
        li: a(href='/bicycle/tools.html') 공구/정비
      ul
        li: a(href='/bicycle/trainer.html') 트레이너

    .sub-section
      ul
        li: a(href='/bicycle/shop.html') 지역별 샾
        li: a(href='/bicycle/rental-transport.html') 대여/운반

    .sub-section
      ul
        li: a(href='/bicycle/riding.html') 라이딩
        li: a(href='/bicycle/course.html') 코스
        li: a(href='/bicycle/course-tool.html') 코스 도구
        li: a(href='/bicycle/gran-fondo.html') 그란 폰도
        li: a(href='/bicycle/randonneurs.html') 란도너스
      ul
        li: a(href='/bicycle/fitting.html') 피팅/자세
        li: a(href='/bicycle/recovery.html') 리커버리
        li: a(href='/bicycle/pain.html') 통증

    .sub-section
      ul
        li: a(href='/bicycle/community.html') 커뮤니티
        li: a(href='/bicycle/movies.html') 영상
        li: a(href='/bicycle/legend.html') 전설
      ul
        //-li: a(href='/bicycle/essay.html') 에세이
        //-li: a(href='/bicycle/physics.html') 물리
