extends ../../layout/layout

block head-title
  title Suggest - AllCa

block content

  .page-title
    h1 Suggest

  .section
    .sub-section.text
      | email:&nbsp;
      -var email = 'support+allca@raysoda.com'
      a(href='mailto:' + email)= email
      br